@font-face {
    font-family:'Lexend';
    src: url(./fonts/Lexend/Lexend-VariableFont_wght.ttf);
    
}

@font-face {
    font-family:'Lexend Deca';
    src: url(./fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);

}

@font-face {
    font-family:'Lexend Exa';
    src: url(./fonts/Lexend_Exa/LexendExa-VariableFont_wght.ttf);

}

@font-face {
    font-family:'Lexend Mega';
    src: url(./fonts/Lexend_Mega/LexendMega-VariableFont_wght.ttf);

}


/* home page */

body{
    margin: 0;
    background-color: #3D4A37 ;
    
}

header{
    
    height: 60px;
    background-color: #A08A55;
    font-family: 'Lexend';
    color: #FFFFFF ;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    
}


.logoImage img{
    width: 38px;
    height: 38px;
    padding-top: 5px;
 
}

.logo .logoTitle {
    font-size: 16px;
    font-weight: 200;
    display: inline;

}



nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

}


nav li a{
    text-decoration: none;
    color: #FFFFFF ;
    font-size: 16px;
    font-weight: 200;
    
}

a{
    padding: 21px;

}

.homeImage img{
    width: 100%;
    height: 500px;
    background-image:url('image-path.jpg'); 
    background-origin: border-box;
    background-repeat: no-repeat;
    object-fit: cover;

}

.welcomeContainer{
    background-color: #A08A55;
    width: 730px;
    height: 80px;
    color: #293225;
    font-family: 'Lexend Exa';
    font-weight: 300;
    font-size: 35px;
    text-align-last: center;
    padding-top:35px;
    position: absolute;
    top: 380px;

}

h2{
    color: #FFFFFF;
    font-family: 'Lexend Exa';
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    padding-top: 106px;

}


.cafeContainer h2{
    color: #FFFFFF;
    font-family: 'Lexend Exa';
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    padding-top: 106px;
    padding-bottom: 50px;

}

h3{
    color: #FFFFFF;
    font-family: 'Lexend Mega';
    font-size: 18px;
    font-weight: 150;
    text-align: center;
    padding-top: 64px;

}

.homeContainer{
    width:100% ;
    height:100% ;

}

.homeContent{
    display: flex;
    justify-content: space-evenly;
    margin-left: 239px ;
    margin-right: 239px;
    margin-top: 108px ;
   
}

.homeGreenhouse img{
    width: 454px;
    height: 324px;
    object-fit: cover;
}

.homeContent p{
    width: 554px;
    height: 120px;
       
}

p{
    color: #FFFFFF;
    font-family: 'Lexend';
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
    line-height: 1.5;
    margin: 0;

}

.homeShop img{
    width: 454px;
    height: 324px;
    object-fit: cover;

}

.homeGrossery img{
    width: 454px;
    height: 324px;
    object-fit: cover;

}

.homeZoo img{
    width: 454px;
    height: 324px;
    object-fit: cover;

}

.descriptionHome{
    display: flex;
    justify-content: center;
}

.descriptionHome p{
    font-family:'Lexend';
    margin-top: 70px;
    
}

.visitUs{
    display: flex;
    justify-content: center;
}

.visitUs p{
    font-family:'Lexend';
    margin-top: 50px;
}

.time{
    display: flex;
    justify-content: center;
}
.time p{
    font-family: 'Lexend';
    margin-top: 50px;
    margin-bottom: 100px;
}



footer{
   
    height: 60px;
    background-color:#C29F5F;
    display: block;
    color: #FFFFFF;
    font-family:'Lexend Exa';
    font-weight: 100;
    
}

.footer p{
    margin: 0;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;


}










/* Page Shop */


.pageShop img{
    width: 100%;
    height: 500px;
    object-fit: cover;    

}

.shopContainer, 
.farmProducts{
    
    margin: 0 97px;
}

.shopContent p{
    color: #FFFFFF;
    font-family: 'Lexend Mega';
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    line-height: 1.5;
    padding-top: 130px;
    padding-bottom: 130px;
}

.farmProductsWrap{
    display: flex;
    justify-content: center;
}


.farmProducts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 72px;
 
}

.cardContainer{
    width: 430px;
    background-color: #293225;
    margin-bottom: 93px;
    
}

.cardContainer .imageShopContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageShopContainer{
    height: 308px; 
    margin: 0 0 30px 0; 
}

.cardContentWrap{
    padding: 20px;

}
.cardContainer a{
    background-color:#C29F5F;
    padding:20px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Lexend';
    font-weight: 300;
    letter-spacing: 1px;
}

.descriptionShop{
    display: flex;
    justify-content: center;
}

.descriptionShop p{
    font-family:'Lexend';
    margin-top: 70px;
    
}

.visitUs{
    display: flex;
    justify-content: center;
}

.visitUs p{
    font-family:'Lexend';
    margin-top: 50px;
}

.time{
    display: flex;
    justify-content: center;
}
.time p{
    font-family: 'Lexend';
    margin-top: 50px;
    margin-bottom: 100px;
}




/* Page Animals */

.pageZoo img{
    width: 100%;
    height: 500px;
    background-image:url('image-path.jpg'); 
    background-origin: border-box;
    background-repeat: no-repeat;
    object-fit: cover;

}

.farmZooContainer{
    background-color: rgb(194 159 95 / 85%);
    width: 730px;
    height: 80px;
    color: #293225;
    font-family: 'Lexend Exa';
    font-weight: 300;
    font-size: 35px;
    text-align-last: center;
    padding-top:35px;
    position: absolute;
    top: 380px;
    

}

.pageZoo img{
    width: 100%;
    height: 500px;
    object-fit: cover;    

}



.zooContainer{
    padding-left: 97px;
    padding-right: 97px; 
}

.zooContent p{
    padding-left: 97px;
    padding-right: 97px; 
    text-align: center;
    padding-top: 64px;

}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 37px;
    padding-left: 97px;
    padding-right: 97px; 
    padding-top: 108px;
}

.blockContainer{
    width: 100%;
    height: auto;

}

.imageContainer img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

 

.descriptionZoo{
    display: flex;
    justify-content: center;
}

.descriptionZoo p{
    font-family:'Lexend';
    margin-top: 70px;
    
}

.visitUs{
    display: flex;
    justify-content: center;
}

.visitUs p{
    font-family:'Lexend';
    margin-top: 50px;
}

.time{
    display: flex;
    justify-content: center;
}
.time p{
    font-family: 'Lexend';
    margin-top: 50px;
    margin-bottom: 100px;
}














/* pade Cafe and Walk */

.pageCafe img{
    width: 100%;
    height: 500px;
    object-fit: cover; 
}

.cafeContainer {
    padding-left: 97px;
    padding-right: 97px; 
}

.ourMenu{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-left: 97px;
    padding-right: 97px;
}

.tupeOfFood{
    color: #FFFFFF;
    font-family: 'Lexend';
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 3.5;
    
}

.total{
    color: #FFFFFF;
    font-family: 'Lexend';
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 3.5;
}

.cafeProducts{
    padding-top: 115px;
}

.cafeContainer .cafeProducts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    column-gap: 42px; 


}


.cafeProducts .imageCafeWrap img{
    width:394px;
    height: 482px;
    object-fit: cover;
}

.imageCafe img{
    width: 100%;
    height: 100%;
    
}

.descriptionCafe{
    display: flex;
    justify-content: center;
}

.descriptionCafe p{
    font-family:'Lexend';
    margin-top: 70px;
    
}

.visitUs{
    display: flex;
    justify-content: center;
}

.visitUs p{
    font-family:'Lexend';
    margin-top: 50px;
}

.time{
    display: flex;
    justify-content: center;
}
.time p{
    font-family: 'Lexend';
    margin-top: 50px;
    margin-bottom: 100px;
}

.pageWalks img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.walkContainer{
    padding-left: 97px;
    padding-right: 97px;
    
}

.walkContainer h2{
    font-size: 50px;
}

.playContainer{
    padding-left: 97px ;
    padding-right:97px ;
}

.playContainer h2{
    text-align: start;
    margin-top: 25px;
    padding-top:5px;
    padding-bottom: 0;
}

.descriptionPlay ul{
    color: #FFFFFF;
    font-family: 'Lexend';
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 2;
    /* padding-top: 70px; */
}

.playContainer .imagePlayWrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    padding-top: 70px;
}

.imagePlayWrap .imagePlay img{
    width: 100%;
    height: 424px;
    object-fit: cover;
}

.imagePlay img{
    width: 100%;
    height: 100%;
}

.playContainer p{
    padding-top: 70px;
    padding-bottom:60px ;
}






















/* page Contact Us */

.pageContactUs img{
    width: 100%;
    height: 500px;
    object-fit: cover; 
}

.contactUsContainer {
    padding-left: 97px;
    padding-right: 97px; 
}

.findUs h2{
    font-size: 50px;
}

.direction p{
    padding-top: 80px;
    
}

.imageContact{
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    padding-top: 150px;
}

.imageContact img{
    width: 850px;
    height: 450px;
    object-fit: cover;
}

.addressContent h2{
    padding: 0;
    text-align: start;
    margin-top: 0;
    margin-bottom: 10px;
}

.addressContent p{
    margin-bottom: 110px;
}

.mapContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 100px;

}

.imageMap iframe{
    width:750px ;
    height: 300px;
   border-radius: 15px;
}

table, th, td{
    font-family: 'Lexend';
    color: #FFFFFF;
    text-align: center;
    font-weight: 200;
    width: 800px;
    border: 0;
    border-radius: 5px;
    border-spacing: 10px;
    
}

th, td{
    background-color: #C29F5F;
    padding: 13px;
}

th{
    font-weight: 400;
}

h2{
    padding-bottom: 100px;
}

